.nav{
    display:flex;
    align-items: center;
    background-color: #1F2937;
    justify-content: center;
}
.nav-logo{
    flex:1 1 0;
    padding:10px;
    padding-left:50px;

}
.main-logo{
    max-width: 100px;
}
.nav-menu{
    flex:1 1 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:10px;
    padding-right: 50px;
}
.nav-menu div{
    height: auto;
    font-size: 18px;
    font-family: Helvetica;
    color:#E5E7EB;
    text-align: center;
}

.main-first-container{
    display:flex;
    background-color: #1F2937;
    padding: 100px;
    gap:50px;
}
.main-first-container div{
    flex:1;
}
.main-first-container h2{
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}
.main-first-container p{
    font-size: 18px;
    color: #E5E7EB;
}
.image-placeholder{
    display:flex;
    background-color: #70757f;
    align-items: center;
    justify-content: center;
}
.cta-button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-family: Helvetica;
    font-weight: bolder;
    border-radius: 5px;
    border: 0;
    padding:10px;
    width: 100px;
}
.main-second-container{
    height: 400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:30px;
}
.main-second-container div{
    flex:1;
    display: flex;
    justify-content: center;
    gap:18px;
    max-width: 900px;
}
.main-second-container div h3{
    font-size: 36px;
    font-weight:bolder;
    color:#1F2937;
}
.main-second-container div p{
    font-size: 14px;
    color:#1F2937;
}
.card{
    flex:1;
    display: flex;
    width:170px;
    flex-direction: column;

}
.card .image{
    height: 150px;
    border-radius: 5px;
    border: 4px solid #3882F6;

    /* Cropping images*/
    object-fit: cover;
}

.main-third-container {
    padding:50px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-third-container div{
    display: flex;
    flex-direction: column;
    width:600px;
    justify-content: center;
    align-items: center;
}

.main-third-container p {
    flex:1;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 200;
}
.main-third-container h4{
    flex:1;
    align-self: flex-end;

}
.main-fourth-container{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;

}

.call-to-action{
    flex:1;
    width:800px;
    background-color: #3882F6;
    display: flex;
    border-radius: 10px;
    border-width:0;
    justify-content: space-around;
}

.left{
    padding: 20px;
    width:auto;
    flex:1;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    justify-content: center;
}

.right{
    flex: 1;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cta-button-two{
    background-color: #3882F6;
    color: #F9FAF8;
    font-family: Helvetica;
    font-weight: bolder;
    border-radius: 5px;
    border: 3px solid #F9FAF8;
    padding:10px;
    width: 100px;
}
.footer{
    display: flex;
    height: 80px;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;

}


